.elementor-74 .elementor-element.elementor-element-b960353 {
  box-shadow: 0px 5px 10px 0px rgba(12, 16, 20, 0.30196078431372547);
  margin-top: 0px;
  margin-bottom: 0px;
  /* padding: 0px 0px 14px 0px; */
}
.elementor-74
  .elementor-element.elementor-element-0261a9d.elementor-column
  > .elementor-widget-wrap {
  justify-content: space-between;
}
.elementor-74
  .elementor-element.elementor-element-0261a9d
  > .elementor-element-populated {
  /* padding: 25px 0px 25px 0px; */
}
.elementor-74
  .elementor-element.elementor-element-a1867b6
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-74 .elementor-element.elementor-element-a1867b6 {
  width: var(--container-widget-width, 25%);
  max-width: 25%;
  --container-widget-width: 25%;
  --container-widget-flex-grow: 0;
  flex-grow: 0.5;
}
.elementor-74 .elementor-element.elementor-element-236941f {
  text-align: left;
  width: var(--container-widget-width, 67%);
  max-width: 67%;
  --container-widget-width: 67%;
  --container-widget-flex-grow: 0;
  align-self: center;
  flex-grow: 0.5;
}
.elementor-74
  .elementor-element.elementor-element-236941f
  .aux-vertical
  .aux-menu-depth-0
  .aux-item-content {
  text-align: left;
}
.elementor-74
  .elementor-element.elementor-element-236941f
  .aux-menu-depth-0
  > .aux-item-content {
  /* color: var(--e-global-color-d036517); */
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}
.elementor-74
  .elementor-element.elementor-element-236941f
  .aux-menu-depth-0.aux-hover
  > .aux-item-content {
  color: var(--e-global-color-secondary);
}
.elementor-74
  .elementor-element.elementor-element-236941f
  .aux-menu-depth-0.aux-hover
  > .aux-item-content {
  font-weight: 600;
}
.elementor-74
  .elementor-element.elementor-element-236941f
  .aux-menu-depth-0.current-menu-item
  > a {
  color: var(--e-global-color-secondary);
  font-weight: 600;
}
.elementor-74 .elementor-element.elementor-element-236941f .aux-burger:before,
.elementor-74 .elementor-element.elementor-element-236941f .aux-burger:after,
.elementor-74
  .elementor-element.elementor-element-236941f
  .aux-burger
  .mid-line {
  border-color: var(--e-global-color-d036517);
}
.elementor-74
  .elementor-element.elementor-element-236941f
  .aux-fs-menu
  .aux-menu-item
  > .aux-item-content {
  color: var(--e-global-color-d036517);
  font-weight: bold;
}
.elementor-74
  .elementor-element.elementor-element-236941f
  .aux-fs-menu
  .aux-menu-item {
  background-color: var(--e-global-color-primary);
}
.elementor-74
  .elementor-element.elementor-element-236941f
  .aux-fs-menu
  .aux-menu-item.aux-hover
  > .aux-item-content {
  color: var(--e-global-color-secondary);
}
.elementor-74
  .elementor-element.elementor-element-236941f
  .aux-fs-menu
  .aux-master-menu {
  text-align: left;
}
.elementor-74 .elementor-element.elementor-element-236941f .aux-fs-popup {
  background-color: var(--e-global-color-primary);
}
.elementor-74
  .elementor-element.elementor-element-236941f
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 14px 0px 0px 0px;
}
.elementor-74
  .elementor-element.elementor-element-04f976b
  .aux-modern-button-wrapper {
  text-align: left;
}
.elementor-74
  .elementor-element.elementor-element-04f976b
  .aux-modern-button.aux-modern-button-outline
  .aux-overlay:before,
.elementor-74
  .elementor-element.elementor-element-04f976b
  .aux-modern-button
  .aux-overlay:before {
  background-color: transparent;
  background-image: linear-gradient(
    270deg,
    var(--e-global-color-accent) 0%,
    var(--e-global-color-text) 100%
  );
}
.elementor-74 .elementor-element.elementor-element-04f976b .aux-overlay:before,
.elementor-74 .elementor-element.elementor-element-04f976b .aux-overlay:after {
  box-shadow: 0px 10px 15px 0px
    rgba(248, 92.99999999999997, 128.00000000000009, 0.2);
  border-radius: 200px 200px 200px 200px;
}
.elementor-74 .elementor-element.elementor-element-04f976b .aux-modern-button {
  /* padding: 20px 55px 19px 55px; */
}
.elementor-74
  .elementor-element.elementor-element-04f976b
  .aux-modern-button.aux-modern-button-outline
  .aux-overlay:after,
.elementor-74
  .elementor-element.elementor-element-04f976b
  .aux-modern-button
  .aux-overlay:after {
  background-color: transparent;
  background-image: linear-gradient(
    270deg,
    var(--e-global-color-text) 0%,
    var(--e-global-color-accent) 100%
  );
}
.elementor-74 .elementor-element.elementor-element-04f976b .aux-text {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--e-global-color-d036517);
}
.elementor-74
  .elementor-element.elementor-element-04f976b
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-74 .elementor-element.elementor-element-04f976b {
  width: initial;
  max-width: initial;
  align-self: center;
  position: absolute;
  /* top: 54px; */
  right: 107px;
}
@media (max-width: 1024px) {
  .elementor-74
    .elementor-element.elementor-element-a1867b6
    > .elementor-widget-container {
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 26px;
  }
  .elementor-74 .elementor-element.elementor-element-a1867b6 {
    max-width: 35%;
  }
  .elementor-74
    .elementor-element.elementor-element-236941f
    .aux-menu-depth-0
    > .aux-item-content {
    font-size: 16px;
    padding: 0px 10px 0px 10px;
  }
  .elementor-74
    .elementor-element.elementor-element-236941f
    .aux-fs-menu
    .aux-menu-item
    > .aux-item-content {
    font-size: 34px;
    padding: 20px 0px 20px 0px;
  }
  .elementor-74
    .elementor-element.elementor-element-236941f
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 12px 0px 0px 0px;
  }
  .elementor-74 .elementor-element.elementor-element-236941f {
    --container-widget-width: 72px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 72px);
    max-width: 72px;
    z-index: 0;
  }
  .elementor-74
    .elementor-element.elementor-element-04f976b
    .aux-modern-button {
    padding: 15px 40px 14px 40px;
  }
  .elementor-74 .elementor-element.elementor-element-04f976b .aux-text {
    font-size: 15px;
  }
  .elementor-74 .elementor-element.elementor-element-04f976b {
    --container-widget-width: 147px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 147px);
    max-width: 147px;
  }
}
@media (max-width: 767px) {
  .elementor-74 .elementor-element.elementor-element-a1867b6 .aux-has-logo img {
    max-width: 67%;
  }
  .elementor-74
    .elementor-element.elementor-element-a1867b6
    > .elementor-widget-container {
    margin: 6px 0px 0px 20px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-74 .elementor-element.elementor-element-a1867b6 {
    --container-widget-width: 208px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 208px);
    max-width: 70%;
    align-self: center;
  }
  .elementor-74
    .elementor-element.elementor-element-236941f
    .aux-fs-menu
    .aux-menu-item
    > .aux-item-content {
    font-size: 28px;
  }
  .elementor-74
    .elementor-element.elementor-element-236941f
    > .elementor-widget-container {
    margin: 0px 0px 0px 3px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-74 .elementor-element.elementor-element-236941f {
    --container-widget-width: 52px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 52px);
    max-width: 52px;
  }
} /* Start custom CSS for aux_logo, class: .elementor-element-a1867b6 */
@media screen and (max-width: 900px) {
  .elementor-74 .elementor-element.elementor-element-a1867b6 {
    margin-right: 50px;
  }
} /* End custom CSS */
/* Start custom CSS for aux_menu_box, class: .elementor-element-236941f */
@media screen and (max-width: 900px) {
  .elementor-74 .elementor-element.elementor-element-236941f {
    order: 1;
    flex-grow: 0;
    margin-left: 20px;
  }
} /* End custom CSS */
