.catalog{
    /* font-size: 40px; */
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* width: 800px; */
  width: 100%;
  }
  
  td, th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
  }
    input[type=submit] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  .btnn{
  /* justify-content: end; */
  margin-top: 40px;
  border-radius: 6px;
  border: none;
  padding: 6px;
  background-color: rgb(6, 6, 52);
  color: white;
  width: 80px;
  box-shadow: 0 0 10px rgb(0, 162, 255);
  }
  .catalog{
    color: rgb(8, 8, 58);
  }
  .containerr{
    /* box-shadow: 0 0 6px rgb(165, 207, 231); */
  }
  tr label{
    color: rgb(13, 13, 97);
  }
  /* .blank_div{
    border: 1px solid black;
    background-color: rgb(7, 7, 68);
    height: 60px;
    color: white;
    text-align: center;
    font-size: 40px;
  } */
  .btnn:hover{
background-color:rgb(0, 77, 128);
  }