.elementor-76
  .elementor-element.elementor-element-a5e7f5d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-76
  .elementor-element.elementor-element-a5e7f5d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(
    269deg,
    var(--e-global-color-secondary) 0%,
    var(--e-global-color-accent) 100%
  );
}
.elementor-76 .elementor-element.elementor-element-a5e7f5d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 90px 35px 90px 35px;
}
.elementor-76
  .elementor-element.elementor-element-a5e7f5d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-76
  .elementor-element.elementor-element-a27660a
  .aux-widget-inner
  > * {
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}
.elementor-76
  .elementor-element.elementor-element-a27660a
  .aux-modern-heading-primary {
  font-size: 66px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--e-global-color-d036517);
  margin: 0px 0px 0px 0px;
}
.elementor-76 .elementor-element.elementor-element-a27660a {
  animation-duration: 2500ms;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
.elementor-76 .elementor-element.elementor-element-5f167cf {
  margin-top: 100px;
  margin-bottom: 0px;
  padding: 0px 35px 0px 35px;
}
.elementor-bc-flex-widget
  .elementor-76
  .elementor-element.elementor-element-ec3a623.elementor-column
  .elementor-widget-wrap {
  align-items: flex-end;
}
.elementor-76
  .elementor-element.elementor-element-ec3a623.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-76
  .elementor-element.elementor-element-ec3a623
  > .elementor-element-populated {
  margin: 0px 30px 0px 0px;
  --e-column-margin-right: 30px;
  --e-column-margin-left: 0px;
}
.elementor-76
  .elementor-element.elementor-element-0a346a0
  .aux-modern-heading-primary {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--e-global-color-d036517);
  margin: 0px 0px 0px 0px;
}
.elementor-76
  .elementor-element.elementor-element-0a346a0
  .aux-modern-heading-secondary
  .aux-head-highlight {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.4em;
  color: var(--e-global-color-d036517);
  max-width: 440px;
}
.elementor-76
  .elementor-element.elementor-element-0a346a0
  .aux-modern-heading-description {
  color: var(--e-global-color-d036517);
  font-size: 18px;
  font-weight: 400;
  max-width: 570px;
}
.elementor-76 .elementor-element.elementor-element-0a346a0 {
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.elementor-76 .elementor-element.elementor-element-56fefc1 .aux-media-image {
  /* max-width: 550px; */
}
.elementor-76 .elementor-element.elementor-element-56fefc1 {
  z-index: 2;
  position: absolute;
  top: 0px;
  right: -714px;
}
.elementor-76
  .elementor-element.elementor-element-2bbad45
  .aux-modern-button-wrapper {
  text-align: left;
}
.elementor-76
  .elementor-element.elementor-element-2bbad45
  .aux-modern-button.aux-modern-button-outline
  .aux-overlay:before,
.elementor-76
  .elementor-element.elementor-element-2bbad45
  .aux-modern-button
  .aux-overlay:before {
  background-color: transparent;
  background-image: linear-gradient(
    270deg,
    var(--e-global-color-accent) 0%,
    var(--e-global-color-text) 100%
  );
}
.elementor-76 .elementor-element.elementor-element-2bbad45 .aux-overlay:before,
.elementor-76 .elementor-element.elementor-element-2bbad45 .aux-overlay:after {
  box-shadow: 0px 10px 15px 0px
    rgba(248, 92.99999999999997, 128.00000000000009, 0.2);
  border-radius: 200px 200px 200px 200px;
}
.elementor-76 .elementor-element.elementor-element-2bbad45 .aux-modern-button {
  padding: 20px 42px 19px 43px;
}
.elementor-76
  .elementor-element.elementor-element-2bbad45
  .aux-modern-button.aux-modern-button-outline
  .aux-overlay:after,
.elementor-76
  .elementor-element.elementor-element-2bbad45
  .aux-modern-button
  .aux-overlay:after {
  background-color: transparent;
  background-image: linear-gradient(
    270deg,
    var(--e-global-color-text) 0%,
    var(--e-global-color-accent) 100%
  );
}
.elementor-76 .elementor-element.elementor-element-2bbad45 .aux-text {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--e-global-color-d036517);
}
.elementor-76 .elementor-element.elementor-element-2bbad45 {
  width: auto;
  max-width: auto;
  animation-delay: 500ms;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.elementor-76 .elementor-element.elementor-element-fc0e615 .aux-the-svg {
  width: 300px;
}
.elementor-76
  .elementor-element.elementor-element-fc0e615
  .aux-widget-container {
  text-align: center;
}
.elementor-76 .elementor-element.elementor-element-fc0e615 {
  width: auto;
  max-width: auto;
  align-self: center;
  position: absolute;
  top: 158px;
  right: 128px;
}
.elementor-76
  .elementor-element.elementor-element-fc0e615
  > .elementor-widget-container {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 1000ms;
  transition-property: all;
}
.elementor-76 .elementor-element.elementor-element-4adb1a0 .aux-the-svg {
  width: 300px;
}
.elementor-76
  .elementor-element.elementor-element-4adb1a0
  .aux-widget-container {
  text-align: center;
}
.elementor-76 .elementor-element.elementor-element-4adb1a0 {
  width: auto;
  max-width: auto;
  align-self: center;
  position: absolute;
  bottom: -42px;
  left: 410px;
}
.elementor-76
  .elementor-element.elementor-element-4adb1a0
  > .elementor-widget-container {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 1000ms;
  transition-property: all;
}
.elementor-76 .elementor-element.elementor-element-f16d0b4 {
  margin-top: 300px;
  margin-bottom: 0px;
  padding: 0px 35px 0px 35px;
}
.elementor-76 .elementor-element.elementor-element-8fe24aa .aux-the-svg {
  width: 300px;
}
.elementor-76
  .elementor-element.elementor-element-8fe24aa
  .aux-widget-container {
  text-align: center;
}
.elementor-76
  .elementor-element.elementor-element-8fe24aa
  > .elementor-widget-container {
  margin: -53px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-76 .elementor-element.elementor-element-8fe24aa {
  width: auto;
  max-width: 10%;
  position: absolute;
  top: -55px;
  left: -55px;
  animation-duration: 3000ms;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.elementor-76 .elementor-element.elementor-element-037053b .aux-the-svg {
  width: 300px;
}
.elementor-76
  .elementor-element.elementor-element-037053b
  .aux-widget-container {
  text-align: center;
}
.elementor-76 .elementor-element.elementor-element-037053b {
  width: auto;
  max-width: auto;
  position: absolute;
  right: -65px;
  bottom: -65px;
  animation-duration: 5000ms;
  animation-delay: 400ms;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.elementor-76
  .elementor-element.elementor-element-fbe0947
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-76 .elementor-element.elementor-element-fbe0947 {
  margin-top: 0px;
  margin-bottom: 42px;
  padding: 100px 20px 100px 100px;
}
.elementor-76
  .elementor-element.elementor-element-4bc5a09
  > .elementor-element-populated {
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: var(--e-global-color-secondary);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 15px 30px 15px 30px;
  --e-column-margin-right: 30px;
  --e-column-margin-left: 30px;
  padding: 20px 0px 20px 0px;
}
.elementor-76
  .elementor-element.elementor-element-4bc5a09
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-76
  .elementor-element.elementor-element-f946aa9
  .aux-counter-number-wrapper {
  color: var(--e-global-color-5c2046d);
  font-family: "Poppins", Sans-serif;
  font-size: 80px;
  font-weight: 600;
}
.elementor-76 .elementor-element.elementor-element-f946aa9 .aux-counter-title {
  color: var(--e-global-color-d036517);
  font-family: "Raleway", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5em;
}
.elementor-76 .elementor-element.elementor-element-f946aa9 {
  animation-duration: 2000ms;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.elementor-76
  .elementor-element.elementor-element-40e061e
  > .elementor-element-populated {
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: var(--e-global-color-secondary);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 15px 30px 15px 30px;
  --e-column-margin-right: 30px;
  --e-column-margin-left: 30px;
  padding: 20px 1px 20px 0px;
}
.elementor-76
  .elementor-element.elementor-element-40e061e
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-76
  .elementor-element.elementor-element-a5ed023
  .aux-counter-number-wrapper {
  color: var(--e-global-color-5c2046d);
  font-family: "Poppins", Sans-serif;
  font-size: 80px;
  font-weight: 600;
}
.elementor-76 .elementor-element.elementor-element-a5ed023 .aux-counter-title {
  color: var(--e-global-color-d036517);
  font-family: "Raleway", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5em;
}
.elementor-76 .elementor-element.elementor-element-a5ed023 {
  animation-duration: 2000ms;
  animation-delay: 200ms;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.elementor-76
  .elementor-element.elementor-element-812e4ac
  > .elementor-element-populated {
  border-style: none;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 15px 30px 15px 30px;
  --e-column-margin-right: 30px;
  --e-column-margin-left: 30px;
  padding: 20px 0px 20px 0px;
}
.elementor-76
  .elementor-element.elementor-element-812e4ac
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-76
  .elementor-element.elementor-element-ed36f19
  .aux-counter-number-wrapper {
  color: var(--e-global-color-5c2046d);
  font-family: "Poppins", Sans-serif;
  font-size: 80px;
  font-weight: 600;
}
.elementor-76 .elementor-element.elementor-element-ed36f19 .aux-counter-title {
  color: var(--e-global-color-d036517);
  font-family: "Raleway", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5em;
}
.elementor-76 .elementor-element.elementor-element-ed36f19 {
  animation-duration: 2000ms;
  animation-delay: 400ms;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-76 .elementor-element.elementor-element-ec3a623 {
    width: 45%;
  }
  .elementor-76 .elementor-element.elementor-element-08a12c5 {
    width: 55%;
  }
  .elementor-76 .elementor-element.elementor-element-4bc5a09 {
    width: 50%;
  }
  .elementor-76 .elementor-element.elementor-element-40e061e {
    width: 50%;
  }
  .elementor-76 .elementor-element.elementor-element-812e4ac {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .elementor-76
    .elementor-element.elementor-element-a27660a
    .aux-modern-heading-primary {
    font-size: 56px;
  }
  .elementor-76
    .elementor-element.elementor-element-0a346a0
    .aux-modern-heading-primary {
    font-size: 18px;
  }
  .elementor-76
    .elementor-element.elementor-element-0a346a0
    .aux-modern-heading-secondary
    .aux-head-highlight {
    font-size: 28px;
  }
  .elementor-76
    .elementor-element.elementor-element-0a346a0
    .aux-modern-heading-description {
    font-size: 16px;
    max-width: 700px;
  }
  .elementor-76
    .elementor-element.elementor-element-2bbad45
    .aux-modern-button {
    padding: 18px 48px 17px 48px;
  }
  .elementor-76 .elementor-element.elementor-element-2bbad45 .aux-text {
    font-size: 15px;
  }
  .elementor-76 .elementor-element.elementor-element-fc0e615 {
    top: 180px;
    right: 110px;
  }
  .elementor-76 .elementor-element.elementor-element-4adb1a0 {
    bottom: -15px;
    left: 240px;
  }
  .elementor-76 .elementor-element.elementor-element-f16d0b4 {
    margin-top: 220px;
    margin-bottom: 0px;
  }
  .elementor-76 .elementor-element.elementor-element-8fe24aa {
    top: -55px;
    left: -55px;
  }
  .elementor-76 .elementor-element.elementor-element-037053b {
    right: -55px;
    bottom: -55px;
  }
  .elementor-76 .elementor-element.elementor-element-fbe0947 {
    padding: 50px 0px 50px 0px;
  }
  .elementor-76
    .elementor-element.elementor-element-4bc5a09
    > .elementor-element-populated {
    margin: 20px 0px 20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 20px 50px 20px 50px;
  }
  .elementor-76
    .elementor-element.elementor-element-f946aa9
    .aux-counter-number-wrapper {
    font-size: 70px;
  }
  .elementor-76
    .elementor-element.elementor-element-f946aa9
    .aux-counter-title {
    font-size: 18px;
  }
  .elementor-76
    .elementor-element.elementor-element-40e061e
    > .elementor-element-populated {
    border-width: 0px 0px 0px 0px;
    margin: 20px 0px 20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 20px 50px 20px 50px;
  }
  .elementor-76
    .elementor-element.elementor-element-a5ed023
    .aux-counter-number-wrapper {
    font-size: 70px;
  }
  .elementor-76
    .elementor-element.elementor-element-a5ed023
    .aux-counter-title {
    font-size: 18px;
  }
  .elementor-76
    .elementor-element.elementor-element-812e4ac
    > .elementor-element-populated {
    margin: 20px 0px 20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 20px 50px 20px 50px;
  }
  .elementor-76
    .elementor-element.elementor-element-ed36f19
    .aux-counter-number-wrapper {
    font-size: 70px;
  }
  .elementor-76
    .elementor-element.elementor-element-ed36f19
    .aux-counter-title {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .elementor-76
    .elementor-element.elementor-element-a27660a
    .aux-modern-heading-primary {
    font-size: 42px;
  }
  .elementor-76
    .elementor-element.elementor-element-0a346a0
    .aux-modern-heading-primary {
    font-size: 16px;
  }
  .elementor-76
    .elementor-element.elementor-element-0a346a0
    .aux-modern-heading-secondary
    .aux-head-highlight {
    font-size: 22px;
  }
  .elementor-76
    .elementor-element.elementor-element-0a346a0
    .aux-modern-heading-description {
    font-size: 14px;
  }
  .elementor-76 .elementor-element.elementor-element-fc0e615 {
    top: 95px;
    right: 65px;
    max-width: 10%;
  }
  .elementor-76 .elementor-element.elementor-element-4adb1a0 {
    bottom: -30px;
    left: 150px;
    max-width: 10%;
  }
  .elementor-76
    .elementor-element.elementor-element-4bc5a09
    > .elementor-element-populated {
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-76
    .elementor-element.elementor-element-f946aa9
    .aux-counter-number-wrapper {
    font-size: 62px;
  }
  .elementor-76
    .elementor-element.elementor-element-40e061e
    > .elementor-element-populated {
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-76
    .elementor-element.elementor-element-a5ed023
    .aux-counter-number-wrapper {
    font-size: 62px;
  }
  .elementor-76
    .elementor-element.elementor-element-812e4ac
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-76
    .elementor-element.elementor-element-ed36f19
    .aux-counter-number-wrapper {
    font-size: 62px;
  }
} /* Start custom CSS for aux_modern_heading, class: .elementor-element-0a346a0 */
.elementor-76
  .elementor-element.elementor-element-0a346a0
  .aux-modern-heading-primary
  span {
  background-image: linear-gradient(
    var(--e-global-color-text),
    var(--e-global-color-text)
  );
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: 100% 100%;
  border-radius: 10px 0px;
}
.elementor-76 .elementor-element.elementor-element-0a346a0 .aux-head-highlight {
  display: inline-block;
} /* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-ec3a623 */
@media screen and (max-width: 900px) and (min-width: 768px) {
  .elementor-76 .elementor-element.elementor-element-ec3a623 {
    width: 100%;
  }
} /* End custom CSS */
/* Start custom CSS for aux_simple_svg, class: .elementor-element-fc0e615 */
@media screen and (max-width: 1440px) and (min-width: 1367px) {
  .elementor-76 .elementor-element.elementor-element-fc0e615 {
    right: 120px;
  }
}
@media screen and (max-width: 1366px) and (min-width: 1025px) {
  .elementor-76 .elementor-element.elementor-element-fc0e615 {
    right: 80px;
  }
}
@media screen and (max-width: 900px) and (min-width: 768px) {
  .elementor-76 .elementor-element.elementor-element-fc0e615 {
    top: 165px;
    right: 160px;
  }
}
.elementor-76 .elementor-element.elementor-element-fc0e615 svg circle {
  fill: var(--e-global-color-5c2046d);
} /* End custom CSS */
/* Start custom CSS for aux_simple_svg, class: .elementor-element-4adb1a0 */
@media screen and (max-width: 1440px) and (min-width: 1367px) {
  .elementor-76 .elementor-element.elementor-element-4adb1a0 {
    left: 295px;
  }
}
@media screen and (max-width: 1366px) and (min-width: 1025px) {
  .elementor-76 .elementor-element.elementor-element-4adb1a0 {
    left: 255px;
  }
}
@media screen and (max-width: 900px) and (min-width: 768px) {
  .elementor-76 .elementor-element.elementor-element-4adb1a0 {
    bottom: -45px;
    left: 333px;
  }
}
.elementor-76 .elementor-element.elementor-element-4adb1a0 svg circle {
  fill: var(--e-global-color-5c2046d);
} /* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-08a12c5 */
@media screen and (max-width: 900px) and (min-width: 768px) {
  .elementor-76 .elementor-element.elementor-element-08a12c5 {
    width: 100%;
    margin-top: 50px;
  }
} /* End custom CSS */
/* Start custom CSS for aux_counter, class: .elementor-element-f946aa9 */
.elementor-76
  .elementor-element.elementor-element-f946aa9
  .aux-counter-number-prefix {
  flex-grow: 0;
}
.elementor-76 .elementor-element.elementor-element-f946aa9 .aux-counter-title {
  text-align: left;
  max-width: 35px;
  margin-left: 23px;
}
.elementor-76 .elementor-element.elementor-element-f946aa9 .aux-counter {
  display: flex;
  flex-direction: row;
  align-items: center;
} /* End custom CSS */
/* Start custom CSS for aux_counter, class: .elementor-element-a5ed023 */
.elementor-76
  .elementor-element.elementor-element-a5ed023
  .aux-counter-number-prefix {
  flex-grow: 0;
}
.elementor-76 .elementor-element.elementor-element-a5ed023 .aux-counter-title {
  text-align: left;
  max-width: 35px;
  margin-left: 23px;
}
.elementor-76 .elementor-element.elementor-element-a5ed023 .aux-counter {
  display: flex;
  flex-direction: row;
  align-items: center;
} /* End custom CSS */
/* Start custom CSS for aux_counter, class: .elementor-element-ed36f19 */
.elementor-76
  .elementor-element.elementor-element-ed36f19
  .aux-counter-number-prefix {
  flex-grow: 0;
}
.elementor-76 .elementor-element.elementor-element-ed36f19 .aux-counter-title {
  text-align: left;
  max-width: 35px;
  margin-left: 23px;
}
.elementor-76 .elementor-element.elementor-element-ed36f19 .aux-counter {
  display: flex;
  flex-direction: row;
  align-items: center;
} /* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-fbe0947 */
.elementor-76 .elementor-element.elementor-element-fbe0947 {
  background: transparent
    linear-gradient(180deg, #111823 0%, #121c2c 0%, #111823 100%);
  border-radius: 45px;
}
@media screen and (max-width: 1440px) and (min-width: 1025px) {
  .elementor-76 .elementor-element.elementor-element-fbe0947 {
    padding: 100px 40px 100px 40px !important;
  }
} /* End custom CSS */
