.report-generate-step {
    background-color: #182444;
    height: 25px;
    width: 25px;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 6px;
}

/* .report_step {
    background-color: #fff;
    padding: 10px 105px;
    border-radius: 5px;
} */

.nav-link.active {
    background-color: #182444 !important;
    color: #fff !important;
}

.next_btn {
    transition: all 0.3s linear;
    background-color: #182444;
    color: #fff;
    cursor: pointer;
}

.next_btn:hover {
    background-color: #fff;
    color: #182444;
}

.report {
    background-color: #fff;
    border: 1px solid #182444;
    cursor: pointer;
    width: 14rem;
    height: 10rem;
    border-radius: 4px;
    transition: all 0.3s linear;
}

.report:hover {
    background-color: #182444;
    color: #fff;
}

.hidden {
    display: none;
}